<div class="row">
	<style type="text/css">
		input.ng-invalid.ng-touched {
			background-color: #FA787E !important;
		}

		input.ng-valid.ng-touched {
		    background-color: #78FA89 !important;
		}
	</style>

	<div class="col-md-2">
		<div class="list-group">
      <a ng-href="/#/createEvent" class="list-group-item">Create Event</a>
      <a ng-href="/#/createAction" class="list-group-item">Create Action</a>
      <a ng-href="/#/createCalendar" class="list-group-item">Create Calendar</a>
      <!--a ng-href="/#/users/calendars" class="list-group-item">View all Calendars</a-->
      <a ng-href="/#/users/events" class="list-group-item">View all events</a>
      <a ng-href="/#/users/items" class="list-group-item">View all items</a>
		</div>
	</div>


	 <div class="col-md-10">
    <div class="panel panel-default" ng-init="init()">
      <div class="panel-body">
        <table class="table table-striped table-hover ">
          <thead>
          <tr>
            <th>Name</th>
            <th>{{hello}}</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in items.items.item">
            <td>
              {{item.name[0]}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
