<div class="row">
	<style type="text/css">
		input.ng-invalid.ng-touched {
			background-color: #FA787E !important;
		}

		input.ng-valid.ng-touched {
		    background-color: #78FA89 !important;
		}
	</style>

	<div class="col-md-2">
		<div class="list-group">
      <a ng-href="/#/createEvent" class="list-group-item">Create Event</a>
      <a ng-href="/#/createAction" class="list-group-item">Create Action</a>
      <a ng-href="/#/createCalendar" class="list-group-item">Create Calendar</a>
      <!--a ng-href="/#/users/calendars" class="list-group-item">View all Calendars</a-->
      <a ng-href="/#/users/events" class="list-group-item">View all events</a>
      <a ng-href="/#/users/items" class="list-group-item">View all items</a>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-body">
				<div>
					<form novalidate="" name="create" class="form-horizontal">
						<fieldset>
							<div class="form-group">
								<label for="summary" class="col-lg-2 control-label">New Calendar</label>
								<div class="col-lg-10">
									<input type="string" required="" ng-model="calendar.ressource.summary" class="form-control">
								</div>
							</div>

							<div class="form-group">
								<div class="col-lg-10 col-lg-offset-2">
									<input type="button" ng-click="reset()" value="Reset" class="btn btn-default">
									<input type="submit" ng-click="createCalendar(calendar)" value="Save" class="btn btn-success">
								</div>
							</div>
              <!--
                <pre>event = {{event | json}}</pre>
                <pre>reponse = {{master | json}}</pre>
							-->
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="panel panel-default">
		<table class="table table-striped table-hover " ng-controller="CreateCalendarCtrl">
          <thead>
            <tr>
              <th>kind</th>
              <th>etag</th>
              <th>id</th>
              <th>summary</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                {{newCalendar.kind}}
              </td>
              <td>
                {{newCalendar.etag}}
              </td>
              <td>
                {{newCalendar.id}}
              </td>
              <td>
                {{newCalendar.summary}}
              </td>
            </tr>
          </tbody>
        </table>
		</div>
	</div>
</div>
