<div class="row">
	<style type="text/css">
		input.ng-invalid.ng-touched {
		   background-color: #FA787E !important;
		}
		input.ng-valid.ng-touched {
		   background-color: #78FA89 !important;
		}
	</style>

	<div class="col-md-2">
		<div class="list-group">
      <a ng-href="/#/createEvent" class="list-group-item">Create Event</a>
      <a ng-href="/#/createAction" class="list-group-item">Create Action</a>
	  <a ng-href="/#/createCalendar" class="list-group-item">Create Calendar</a>
      <!--a ng-href="/#/users/calendars" class="list-group-item">View all Calendars</a-->
      <a ng-href="/#/users/events" class="list-group-item">View all events</a>
      <a ng-href="/#/users/items" class="list-group-item">View all items</a>
		</div>
	</div>

<div class="col-md-6">
<div class="panel panel-default">
<div class="panel-body">

<div>


  <div ng-show="hMsg" class="alert alert-dismissible alert-success">
    <button type="button"  class="close" ng-click="clean()"  data-dismiss="alert">×</button>
    <strong>Well done!</strong> You successfully read <a href="" ng-click="clean()" class="alert-link">this important alert message</a>.
  </div>

  <div ng-show="hErr" class="alert alert-dismissible alert-danger">
    <button type="button" class="close" ng-click="clean()" data-dismiss="alert">×</button>
    <strong>Oh snap!</strong> <a href="" ng-click="clean()" class="alert-link">Change a few things up</a> and try submitting again.
  </div>


  <form novalidate="" name="create" class="form-horizontal">
		<fieldset>
			<div class="form-group">
				<label for="start" class="col-lg-2 control-label">Summary</label>
				<div class="col-lg-10">
					<select ng-model="event.summary" required="" id="select" class="form-control">
						<option>Repas</option>
						<option>Depart</option>
						<option>Arrive</option>
						<option>Dormir</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label for="start" class="col-lg-2 control-label">Date</label>
				<div class="col-lg-10">
					<input type="date" placeholder="yyyy-mm-dd" required="" ng-model="event.date" class="form-control">
				</div>
			</div>

			<div class="form-group">
				<label for="start" class="col-lg-2 control-label">Start</label>
				<div class="col-lg-10">
					<div class="col-lg-5">
						<input type="number" max="23" min="0" placeholder="hh" required="" ng-model="event.timeStart.hh" class="form-control">
					</div>

					<div class="col-lg-5">
						<input type="number"  max="59" min="0" placeholder="mm" required="" ng-model="event.timeStart.mm" class="form-control">
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="end" class="col-lg-2 control-label">End</label>
				<div class="col-lg-10">
					<div class="col-lg-5">
						<input type="number"  max="23" min="0" placeholder="hh" required="" ng-model="event.timeEnd.hh" class="form-control">
					</div>
					<div class="col-lg-5">
						<input type="number"  max="59" min="0" placeholder="mm" required="" ng-model="event.timeEnd.mm" class="form-control">
					</div>
				</div>
			</div>

<!--
			<div class="form-group">
				<label for="start" class="col-lg-2 control-label">Description</label>
				<div class="col-lg-10">
					<textarea rows="3" id="textArea" ng-model="event.description" class="form-control"></textarea>
				</div>
			</div>

			<div class="form-group">
				<label for="start" class="col-lg-2 control-label">Email</label>
				<div class="col-lg-10">
					<input type="email" required="" id="inputEmail" placeholder="Email" ng-model="event.email" class="form-control">
				</div>
			</div>
      -->
			<div class="form-group">
				<div class="col-lg-10 col-lg-offset-2">
					<input type="button" ng-click="reset()" value="Reset" class="btn btn-default">
					<input type="submit" ng-click="createEvent(event)" value="Save" class="btn btn-success">
				</div>
			</div>
      <!--
      <pre>event = {{event | json}}</pre>
      <pre>reponse = {{response | json}}</pre>

      -->
		</fieldset>
	</form>
</div>
</div>
</div>
</div>
</div>
