<div class="row">
  <div class="col-md-2">
    <div class="list-group">
      <a ng-href="/#/createEvent" class="list-group-item">Create Event</a>
      <a ng-href="/#/createAction" class="list-group-item">Create Action</a>
      <a ng-href="/#/createCalendar" class="list-group-item">Create Calendar</a>
      <!--a ng-href="/#/users/calendars" class="list-group-item">View all Calendars</a-->
      <a ng-href="/#/users/events" class="list-group-item">View all events</a>
      <a ng-href="/#/users/items" class="list-group-item">View all items</a>
    </div>
  </div>
  <div class="col-md-10">
    <div class="panel panel-default" ng-init="init()">
      <div class="panel-body">
        <table class="table table-striped table-hover ">
          <thead>
          <tr>
            <th>Start Date</th>
            <th>Description</th>
            <th>ID</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="event in events.items">
            <td>
              {{event.start.dateTime}}
            </td>
            <td>
              {{event.description}}
            </td>
            <td>
              {{event.id}}
            </td>
            <td>
              <button type="button" ng-click="delete(event)" class="close" data-dismiss="modal"  aria-hidden="true">×</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
