<div class="row">

	<div class="col-md-2">
		<div class="list-group">
      <a ng-href="/#/users/cytoscape" class="list-group-item">Graph des actions possibles</a>
      <a ng-href="/#/users/realTime" class="list-group-item">Temp Rée</a>
		</div>
	</div>


	 <div class="col-md-10" ng-init="init()">

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="cytoscape">
          <div class="cy" id="cy"></div>
        </div>
        <div class="form-group">
          <div class="col-lg-offset-2">
            <input type="button" ng-click="graph1()" value="Graph 1" class="btn btn-default">
            <input type="button" ng-click="graph2()" value="Graph 2" class="btn btn-default">
            <input type="button" ng-click="graph3()" value="Graph 3" class="btn btn-default">
            <input type="button" ng-click="graph4()" value="Graph 4" class="btn btn-default">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
