<div class="row">
	<div class="col-md-2">
		<div class="list-group">
		  <a ng-href="/#/createEvent" class="list-group-item">Create Event</a>
      <a ng-href="/#/createAction" class="list-group-item">Create Action</a>
      <a ng-href="/#/createCalendar" class="list-group-item">Create Calendar</a>
      <!--a ng-href="/#/users/calendars" class="list-group-item">View all Calendars</a-->
      <a ng-href="/#/users/events" class="list-group-item">View all events</a>
      <a ng-href="/#/users/items" class="list-group-item">View all items</a>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-body">
			</div>
		</div>
	</div>
</div>
