<div class="row">
	<div class="col-md-2">
		<div class="list-group">
      <a ng-href="/#/users/cytoscape" class="list-group-item">Graph des actions possibles</a>
      <a ng-href="/#/users/realTime" class="list-group-item">Temps Réel</a>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-body">
			</div>
		</div>
	</div>
</div>
