//
   Created by user on 02/06/15.
extends users
block content2
    style(type="text/css").
        input.ng-invalid.ng-touched {
            background-color: #FA787E !important;
        }

        input.ng-valid.ng-touched {
            background-color: #78FA89 !important;
        }
    div(ng-controller='UsersCtrl')
        form(novalidate class="form-horizontal", name="create", )
            fieldset
                - var classL = ['col-lg-2', 'control-label']
                div(class='form-group')
                    label(for="start", class=classL) New Calendar
                    div(class="col-lg-10")
                        input(type="string",  class="form-control", required, ng-model="event.date")
                div( class='form-group')
                    div( class=["col-lg-10", "col-lg-offset-2"])
                        input(class="btn btn-default", type="button", ng-click="reset()", value="Reset")
                        input(class="btn btn-success", type="submit", ng-click="update(event)", value="Save")
                pre event = {{event | json}}
                pre reponse = {{master | json}}
