//
   Created by user on 02/06/15.


extends users


block content2

   style(type="text/css").
      input.ng-invalid.ng-touched {
         background-color: #FA787E !important;
      }

      input.ng-valid.ng-touched {
         background-color: #78FA89 !important;
      }

   div(ng-controller='UsersCtrl')
      form(novalidate class="form-horizontal", name="create", )
         fieldset
            - var classL = ['col-lg-2', 'control-label']
            div( class='form-group')
               label(for="start", class=classL) Summary
               div(class="col-lg-10")
                  select(class="form-control" ng-model="event.summary", required, id="select")
                     option Sortir
                     option Arriver
                     option Dormir
                     option Lirer
                     option Manger

            div(class='form-group')
               label(for="start", class=classL) Date
               div(class="col-lg-10")
                  input(type="date", placeholder="yyyy-mm-dd", class="form-control", required, ng-model="event.date")

            div( class='form-group')
               label(for="start", class=classL) Start
               div(class="col-lg-10")
                  div(class="col-lg-5")
                     input(type="number", class="form-control", placeholder="hh", required, ng-model="event.timeStart.hh")
                  div(class="col-lg-5")
                     input(type="number", class="form-control", placeholder="mm", required, ng-model="event.timeStart.mm")

            div( class='form-group')
               label(for="end", class=classL) End
               div(class="col-lg-10")
                  div(class="col-lg-5")
                     input(type="number", class="form-control", placeholder="hh", required, ng-model="event.timeEnd.hh")
                  div(class="col-lg-5")
                     input(type="number", class="form-control", placeholder="mm", required, ng-model="event.timeEnd.mm")

            div( class='form-group')
               label(for="start", class=classL) Description
               div(class="col-lg-10")
                  textarea(class="form-control", rows="3", id="textArea", ng-model="event.description")
            div( class='form-group')
               label(for="start", class=classL) Email
               div(class="col-lg-10")
                  input(type="email", class="form-control", required, id="inputEmail", placeholder="Email", ng-model="event.email")
            div( class='form-group')
               div( class=["col-lg-10", "col-lg-offset-2"])
                  input(class="btn btn-default", type="button", ng-click="reset()", value="Reset")
                  input(class="btn btn-success", type="submit", ng-click="update(event)", value="Save")
            pre event = {{event | json}}
            pre reponse = {{master | json}}

