extends users
block content2
    div(class='row', ng-controller='ItemsCtrl')
        div(class='col-md-6', ng-init="init()")
            div(ng-repeat="item in items")
                table
                    tr(ng-repeat="item in items")
                        td {{item.name[0]}}
                        td {{item.state[0]}}


