doctype html
html(ng-app="smartHome")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/slate/bootstrap.css')

  body

      //p
      //  - var classesA=['btn', 'btn-primary', 'btn-lg']
      //  a(class=classesA) Learn more
    block content

script(src='/javascripts/jquery/jquery-2.1.4.min.js')
script(src='/javascripts/bootstrap/js/bootstrap.js')
script(src='/javascripts/angular/angular.js')
script(src='/javascripts/UsersCtrl.js')
script(src='/javascripts/ItemsCtrl.js')
