extends layout

block content
  div(class='row')
    div(class='col-md-2')
      div( class="list-group")
        a(href="/users/createEvents", class=["list-group-item"]) Create Event
        a(href="/users/createCalendar", class=["list-group-item"]) Create Calendars
        a(href="/users/items", class=["list-group-item"]) View all items

      p #{name}
    div(class='col-md-8')
      div(class=["panel", "panel-default"])
        div(class="panel-body")
          block content2


